<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <title>Clinicas Cadastradas</title>
</head>

<body>
    <h1 class="clinicas">Lista de Clínicas</h1>
    {% if lista_de_clinicas %}
    <ul>
        {% for clinica in lista_de_clinicas %}
        <li>{{ clinica.cnome }} - {{ clinica.ctelefone }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Nenhuma clínica cadastrada</p>
    {% endif %}
    <br>
    <a href="{{ url_for('home') }}">Voltar para Home</a>

</body>

</html>